<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<!--подключаем коллекцию. Ее будем использовать в листинге в аргументе ../view/adminhtml/ui_component/amasty_course_blacklist_listing.xml-->
    <virtualType name="Amasty\Course\Model\ResourceModel\Blacklist\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">amasty_product_blacklist</argument>
            <argument name="resourceModel" xsi:type="string">Amasty\Course\Model\ResourceModel\Blacklist</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="amasty_course_blacklist_listing_data_source" xsi:type="string">
                    Amasty\Course\Model\ResourceModel\Blacklist\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
</config>
