<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Amasty\AdditionalModule\Observer\AddPromoSku">
        <plugin name="checkRequestType" type="Amasty\Course\Plugin\CheckRequestType"/>
    </type>
    <type name="Amasty\Course\Controller\Index\Form">
        <plugin name="blackListProduct" type="Amasty\Course\Plugin\BlacklistProduct"/>
    </type>
</config>
