<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="amasty_add_product_to_cart">
        <observer name="promoProductIsAdded"
                  instance="Amasty\AdditionalModule\Observer\AddPromoSku"/>
    </event>
</config>
