<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <am_course_config>
            <general>
                <enabled>0</enabled>
                <greeting_text>Hello</greeting_text>
                <show_qty>0</show_qty>
            </general>
        </am_course_config>
    </default>
</config>
